#root{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #00688d;
    --green: #0d7d4d;
    --teal: #006daa;
    --red: #ab0d02;
    --yellow: #d6b600;
    --white: #fff;
    --dark-gray: #454545;
    --primary: #00262b;
    --secondary: #454545;
    --brand: #d23228;
    --success: #0d7d4d;
    --info: #03c7e8;
    --warning: #f0cc00;
    --danger: #ab0d02;
    --light: #e1dddb;
    --dark: #00262b;
    --gray: #707070;
    --accent-a: #03c7e8;
    --accent-b: #f0cc00;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Inter","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: #454545;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5555555556;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    box-sizing: border-box;
}

#layout{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #00688d;
    --green: #0d7d4d;
    --teal: #006daa;
    --red: #ab0d02;
    --yellow: #d6b600;
    --white: #fff;
    --dark-gray: #454545;
    --primary: #00262b;
    --secondary: #454545;
    --brand: #d23228;
    --success: #0d7d4d;
    --info: #03c7e8;
    --warning: #f0cc00;
    --danger: #ab0d02;
    --light: #e1dddb;
    --dark: #00262b;
    --gray: #707070;
    --accent-a: #03c7e8;
    --accent-b: #f0cc00;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Inter","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: #454545;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5555555556;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-md-12 small-screen-top-stripe{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #00688d;
    --green: #0d7d4d;
    --teal: #006daa;
    --red: #ab0d02;
    --yellow: #d6b600;
    --white: #fff;
    --dark-gray: #454545;
    --primary: #00262b;
    --secondary: #454545;
    --brand: #d23228;
    --success: #0d7d4d;
    --info: #03c7e8;
    --warning: #f0cc00;
    --danger: #ab0d02;
    --light: #e1dddb;
    --dark: #00262b;
    --gray: #707070;
    --accent-a: #03c7e8;
    --accent-b: #f0cc00;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Inter","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: #454545;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5555555556;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    height: .25rem;
    background-image: linear-gradient(102.02deg,#921108,#921108 20%,#d23228 0);
}
.small-screen-header-primary{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #00688d;
    --green: #0d7d4d;
    --teal: #006daa;
    --red: #ab0d02;
    --yellow: #d6b600;
    --white: #fff;
    --dark-gray: #454545;
    --primary: #00262b;
    --secondary: #454545;
    --brand: #d23228;
    --success: #0d7d4d;
    --info: #03c7e8;
    --warning: #f0cc00;
    --danger: #ab0d02;
    --light: #e1dddb;
    --dark: #00262b;
    --gray: #707070;
    --accent-a: #03c7e8;
    --accent-b: #f0cc00;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Inter","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: #454545;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5555555556;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    width: 100vw;
    background-color: #0e3639;
}
.default-link standalone-link{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #00688d;
    --green: #0d7d4d;
    --teal: #006daa;
    --red: #ab0d02;
    --yellow: #d6b600;
    --white: #fff;
    --dark-gray: #454545;
    --primary: #00262b;
    --secondary: #454545;
    --brand: #d23228;
    --success: #0d7d4d;
    --info: #03c7e8;
    --warning: #f0cc00;
    --danger: #ab0d02;
    --light: #e1dddb;
    --dark: #00262b;
    --gray: #707070;
    --accent-a: #03c7e8;
    --accent-b: #f0cc00;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Inter","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5555555556;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    background-color: transparent;
    color: #00688d;
    text-decoration: none;
}
.d-flex mt-3{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #00688d;
    --green: #0d7d4d;
    --teal: #006daa;
    --red: #ab0d02;
    --yellow: #d6b600;
    --white: #fff;
    --dark-gray: #454545;
    --primary: #00262b;
    --secondary: #454545;
    --brand: #d23228;
    --success: #0d7d4d;
    --info: #03c7e8;
    --warning: #f0cc00;
    --danger: #ab0d02;
    --light: #e1dddb;
    --dark: #00262b;
    --gray: #707070;
    --accent-a: #03c7e8;
    --accent-b: #f0cc00;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Inter","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: #454545;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5555555556;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    display: flex!important;
    margin-top: 1rem!important;
}
.small-screen-svg-line{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #00688d;
    --green: #0d7d4d;
    --teal: #006daa;
    --red: #ab0d02;
    --yellow: #d6b600;
    --white: #fff;
    --dark-gray: #454545;
    --primary: #00262b;
    --secondary: #454545;
    --brand: #d23228;
    --success: #0d7d4d;
    --info: #03c7e8;
    --warning: #f0cc00;
    --danger: #ab0d02;
    --light: #e1dddb;
    --dark: #00262b;
    --gray: #707070;
    --accent-a: #03c7e8;
    --accent-b: #f0cc00;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Inter","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: #454545;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5555555556;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    vertical-align: middle;
    overflow: hidden;
    stroke: #f0cc00;
    stroke-width: .25rem;
    height: 72px;
    padding-top: .5rem;
    width: 4em;
}
.pb-3{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #00688d;
    --green: #0d7d4d;
    --teal: #006daa;
    --red: #ab0d02;
    --yellow: #d6b600;
    --white: #fff;
    --dark-gray: #454545;
    --primary: #00262b;
    --secondary: #454545;
    --brand: #d23228;
    --success: #0d7d4d;
    --info: #03c7e8;
    --warning: #f0cc00;
    --danger: #ab0d02;
    --light: #e1dddb;
    --dark: #00262b;
    --gray: #707070;
    --accent-a: #03c7e8;
    --accent-b: #f0cc00;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Inter","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: #454545;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5555555556;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    padding-bottom: 1rem!important;
}
.small-heading{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #00688d;
    --green: #0d7d4d;
    --teal: #006daa;
    --red: #ab0d02;
    --yellow: #d6b600;
    --white: #fff;
    --dark-gray: #454545;
    --primary: #00262b;
    --secondary: #454545;
    --brand: #d23228;
    --success: #0d7d4d;
    --info: #03c7e8;
    --warning: #f0cc00;
    --danger: #ab0d02;
    --light: #e1dddb;
    --dark: #00262b;
    --gray: #707070;
    --accent-a: #03c7e8;
    --accent-b: #f0cc00;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Inter","Helvetica Neue",Arial,sans-serif;
    --font-family-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-family: Inter,Helvetica Neue,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: .5rem;
    color: #fff;
    font-size: 36px;
    line-height: 40px;
    padding-left: .5rem;
}
